/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2018, 8:28:38 PM
    Author     : Windows 10 TIMT
*/
.btn_them_xoa{
    padding: 0px;
    margin: 0px 0px 15px 0px;
}
.btn_them_xoa li{
    list-style: none;
    display: inline;
}
.line_search_admin{
    padding: 0px;
    margin: 0px 0px 10px 0px;
}
.line_search_admin li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.line_search_admin li input{
    max-width: 200px;
    border-radius: 0px;

}
.box_addcus {
    padding: 8px 15px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.btn_addcus {
    text-align: right;
    margin-bottom: 8px;
}
.footer_admin {
    padding: 12px 4px;
    background: #cdcdcd;
    border: 1px solid #8e8e8e;
    margin-top: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: #000;
}
/*=================================toggle button====================================*/
.view_active {
    background-color: transparent !important;
    margin-left: 5px;
    cursor: pointer;
}
.view_color {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
/*=================================end toggle button====================================*/
.mg_0{
    margin: 0px;
}
h3.style_mg{
    margin-bottom: 15px;
}
.station_box {
    height: 150px;
    overflow-y:scroll ;
}